.section_1{
    max-width: 37.5rem;
    height: 17rem;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 10rem;
    gap: 20px;
}

.section_1 h2{
    align-self: center;
    grid-row: 1/2;
    grid-column: 1/4;
}

.section_1 div{
    border: 1px solid black;
    border-radius: 20px; 

    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}